.container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form {
    display: flex;
    justify-content: center;
}

.input {
    border: 0.5px solid darkgrey;
    border-radius: 5px;
    width: 30%;
    padding-left: 20px;
    font-size: 22px;
}

input:hover {
    border-color: #646cff;
}

input:focus,
input:focus-visible {
    outline: 1px auto #646cff;
}

.btn {
    margin-left: 20px;
    font-size: 22px;
    border: 0.5px solid darkgrey;
}